.headers {
    color: white;
    text-align: center;
    height: 30%
}
.head-center {
    margin: auto;
    height: 20px;
    color: red;
    /* background: yellow; */
}
.head-center a button {
    text-decoration: none;
}
.headers {
   margin-top: 20%;
   padding: 2%;
   height: 25%;
   /* background: purple; */
   text-align: center;
}
.mid-content {
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
}
.head-bottom {
    color: rgba(197, 197, 197, 0.808);
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.fp-footer {
    height: 70px;
    margin: auto;
    width: 400px;
}
.fp-footer a{
    color: rgba(197, 197, 197, 0.808);
    text-decoration: none;
}
button {
    border: 2px solid purple;
    border-radius: 100px;
    padding: 20px;
    cursor: pointer;
    background: rgba(117, 117, 117, 0.609);
    box-shadow: rgba(128, 0, 128, 0.596) 1px 1px;
    display: inline-block;
}
button:hover {
    background: rgba(233, 233, 233, 0.609);
}
button span {
    display: inline;
    visibility: hidden;
}
button:hover span {
    display: inline;
    visibility: visible;
    padding-left: 30px;
    padding-right: 10px;
    transition: .5s;
}
button p {
    display: inline;
}
button:hover p {
    display: inline;
    padding-left: -10px;
}
