.headers {
    color: white;
    text-align: center;
    height: 30%;
    font-family: 'Racing Sans One';
    font-size: 50px;
    /* animation-name: headerCont;
    animation-duration: 3s;
    animation-fill-mode: forwards; */
}
/* @keyframes headerCont {
    0% {height: 0px;}
    100% {color:red; height: 50px;}
} */
.head-center {
    margin: auto;
    height: 20px;
    color: red;
    /* background: yellow; */
}
.head-center a button {
    text-decoration: none;
    color: rgb(22, 22, 22)
}
.headers {
   margin-top: 20%;
   padding: 2%;
   height: 25%;
   text-align: center;
}
.mid-content {
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
}
.head-bottom {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.fp-footer {
    height: 70px;
    margin: auto;
    width: 400px;
    font-family: 'Rationale';
    font-size: 25px;
}
.fp-footer a{
    color: rgba(255, 255, 255, 0.774);
    text-decoration: none;
}
button {
    border: 1px solid rgba(209, 58, 58, 0.836);
    border-radius: 100px;
    padding: 20px;
    cursor: pointer;
    background: rgba(187, 187, 187, 0.609);
    box-shadow: rgba(209, 58, 58, 0.836) 1px 1px;
    display: inline-block;
    font-family: 'Roboto Condensed';
    font-size: 18px;
}
button:hover {
    background: rgba(233, 233, 233, 0.609);
}
button span {
    display: inline;
    visibility: hidden;
}
button:hover span {
    display: inline;
    visibility: visible;
    padding-left: 30px;
    padding-right: 10px;
    transition: .5s;
}
button p {
    display: inline;
}
button:hover p {
    display: inline;
    padding-left: -10px;
}

