.personal-pic {
    float: left;
    width: 40%;
    display: inline-block;
    margin-right: 6%;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%
}
.bio-pic {
    height: 100%;
    width: 100%;
    padding: 4%;
    border: 2px solid rgba(53, 53, 53, 0.267);
    border-radius: 20%;
    margin: 1%;
    
}
.personal-bio {
    padding: 2%;
    width: 45%;
    border: 2px solid rgba(53, 53, 53, 0.267);
    border-radius: 15%;
    margin: 1%;
    float: left
}
.list-of-accomplishments {
    border: 2px solid rgba(53, 53, 53, 0.267);
    border-radius: 15%;
    margin: 2%;
    margin-right: 3%;
    width: 40%;
    padding: 1%;
    float: right
}
.list-of-accomplishments ul {
    display: inline-block
}
.list-of-accomplishments p {
    line-height: 35px
}