/* Entire Projects Page */
.projectContent {
    background: rgba(0, 0, 0, 0.931);
    overflow: auto;
}

/* Title Header */
.projectHeader {
    /* color:silver; */
    color: white;
    font-size: 50px;
    font-family: fantasy;
    margin: 1%;
    padding: 20px
}

/* Ray's Projects section */
    /* Entire Demo Container */
.projectFiles {
    width: 100%;
}
    /* Sub-Demo Container */
.projectImages {
    display: inline-block;
    padding: 2%;
}
    /* Individual Images */
.projectBottomImg {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 25%;
    float: left;
    z-index: 0;
}
.projectBottomImg:hover p{
    visibility: visible;
}
.postHead{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    visibility: hidden;
}
.postHead p {
    color: white;
    padding: 20px;
    background: rgba(100, 100, 100, 0.335);
}
.postHead p:hover {
    visibility: visible;
}
.portImages {
    float: left;
    display: block;
    height: 300px;
    width: 100%;
    margin: 0;
}
.portImages:hover {
    opacity: .5;
}

/* Text After demoing Projects */
.projectFooter {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    bottom: 0px;
    /* animation-name: contentss;
    animation-duration: 5s;
    animation-fill-mode: forwards;  */
}
.projectFooterText {
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    letter-spacing: 2px;
}
@media screen and (max-width: 1200px) {
    .projectBottomImg {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 33.333%;
        float: left;
    }
}
@media screen and (max-width: 880px) {
    .projectBottomImg {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 50%;
        float: left;
    }
}
/* @keyframes contentss{
    0% {background: yellow; left: -1000px;}
    100% {background: blue; left: 0px;}
} */
/* #portImg2 {
    border: 4px solid black;
    animation-name: newphoto;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */
/* @keyframes newphoto {
0% {border-radius: 0 0 0 0;};
25% {top:10px; opacity: .8; border-radius: 50% 0 0 0;};
50% {top:20px; opacity: .5; border-radius: 50% 50% 0 0;};
75%{top:50px; opacity: .25; border-radius: 50% 50% 50% 0}
100% {top:100px; opacity: 0; border-radius: 50% 50% 50% 50%;}
} */

